{% load static i18n %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<title>{% block title %}{% trans "Berk Enerji" %}{% endblock title %}</title>
			{% block meta %}{% endblock meta %}

<link type="text/css" href="{% static 'web/css/bootstrap.css' %}"      rel="stylesheet">
<link type="text/css" href="{% static 'web/css/style.css' %}"          rel="stylesheet">
<link type="text/css" href="{% static 'web/css/color.css' %}"          rel="stylesheet">
<link type="text/css" href="{% static 'web/css/responsive.css' %}"     rel="stylesheet">
<link type="image/x-icon" href="images/favicon.png" rel="shortcut icon">
<link type="image/x-icon" href="images/favicon.png" rel="icon">
<style>
	.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 10001;
  animation: wave 2s infinite;
}
.chat-icon img {
  width: 35px;
  height: 35px;
}
</style>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	{% block extracss %}{% endblock extracss %}

</head>
<body>
{% include 'web/includes/header.html' %}

  <div class="chat-icon" id="chat-icon"><a href="https://api.whatsapp.com/send/?phone=%2B905316569144&text&type=phone_number&app_absent=0" target="_blank">
	<img src="{% static 'web/images/main/WhatsApp.svg' %}" alt="WhatsApp">
  </a>
  </div>
{% block content %}{% endblock content %}
{% include 'web/includes/footer.html' %}

<script type="text/javascript" src="{% static 'web/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/jquery.fancybox.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/owl.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/appear.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/wow.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/scrollbar.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/mixitup.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/paroller.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/element-in-view.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/custom-script.js' %}"></script>

<script type="text/javascript" src="{% static 'web/global.js' %}"></script>
{% block extrajs %}{% endblock extrajs %}
</body>
</html>
