{% extends "web/base.html" %}
{% load static i18n %}
{% block title %}{% trans "Berk Enerji" %}{% endblock title %}
{% block extracss %}
<link type="text/css" href="{% static 'web/css/slider.css' %}"      rel="stylesheet">

{% endblock extracss %}
{% block content %}

<div class="slider">
    <div class="slides">
      {% for img in slider %}
      <div class="slide active" style="background-image:url({{img.sliderimage.url}})">
        <div class="caption">
          <h2>{{img.title}}</h2>
          <p>{{img.body}}</p>
          <a href="{{img.button}}"  target="_blank" class="btn">Detaylı bilgi için</a>
        </div>
      </div>

      {% endfor %}
    </div>
    <button class="prev" onclick="prevSlide()">❮</button>
    <button class="next" onclick="nextSlide()">❯</button>
  </div>



    <!-- Banner Section -->
    
    <!--Featured Section-->


	<!--About Section-->
    {% include 'web/includes/about.html' %}

    <!--Programs Section-->
    {% include 'web/includes/program.html' %}

    <!--Services Section Three-->
    {% include 'web/includes/services.html' %}




    <!--Fun Facts Section-->

    <!--Team Section-->

    <!--Testimonial Section-->

	{% include 'web/includes/enquiry.html' %}
    <!--News Section-->
    {% include 'web/includes/blog.html' %}



 
{% endblock content %}
{% block extrajs %}
<script type="text/javascript" src="{% static 'web/js/slider.js'%}"></script>

{% endblock extrajs %}


