{% load static i18n %}
<div class="page-wrapper">
<div class="preloader"><div class="icon"></div></div>

<header class="main-header header-style-one inner-page-header">
    <div class="header-main-box" style="position: fixed;width: inherit;">
        <div class="auto-container">
            <div class="inner-container">
                <div class="upper-row clearfix">
                    <!--Logo-->
                    <div class="logo-box" style="margin-top:10px;">
                        <div class="logo pull-left">
                            <a href="/" title=""><img style="width:200px;height:300px;"
                                 src="{% static 'web/images/berkenerji.png' %}" alt="" title=""
                                ></a>

                              
                        </div>

                    </div>
                    <div class="right-info clearfix">
                            <nav class="main-menu navbar-expand-md navbar-light">
                                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li class="current dropdown"><a href="/">Ana Sayfa</a></li>
                                        <li class="dropdown"><a href="{% url 'web:about_view' %}">Hakkımızda</a></li>
                                        <li class="dropdown"><a href="#">Endüstriler</a>
                                            <ul>
                                                {% for product in ind_in_header %}
                                                <li><a href="{% url 'web:ind_detail_view' product.slug %}">{{product.title}}</a></li>
                                                {% endfor %}
                                             
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="#">Gazlar ve Ekipmanlar</a>
                                            <ul>
                                                {% for product in products_in_header %}
                                                <li><a href="{% url 'web:per_detail_view' product.slug %}">{{product.title}}</a></li>
                                                {% endfor %}
                                             
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'web:blog_view_new' %}">Haberler</a></li>
                                        <li><a href="{% url 'web:iletisim' %}">İletişim</a></li>
                                        <li style="margin-top: 25px;"><a href="/" title=""><img style="width: 100px;" src="{% static 'web/images/Lindegaz.jpg' %}" alt="" title=""></a>                                        </li>
                                    </ul>
                                </div>
                            </nav>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!--End Header Upper-->

    

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><span class="icon flaticon-cancel"></span></div>
        
        <nav class="menu-box">
            <div class="nav-logo"><a href="index-2.html"><img src="{% static 'web/images/nav-logo.html' %}" alt="" title=""></a></div>
            <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            <!--Social Links-->
            <div class="social-links">
                <ul class="clearfix">
                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                    <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                    <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                </ul>
            </div>
        </nav>
    </div><!-- End Mobile Menu -->
</header>
